@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libertinus+Mono&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.App{
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.form-container{
  width: 400px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
  margin: 30px;
}

.form-container div{
  margin-bottom: 15px;
}

label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,select{
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;

}


button{
  cursor: pointer  ;
  height: 70px;
  width: 160px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
}

button:hover{
  background-color: white;
  color: black;
}
.tabs{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tab-link-reveal{
  padding: 10px 20px;
  background-color: transparent;
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  height: 30px;
  overflow:hidden;
  transition: color 0.3s ease;
  cursor: pointer;
}

.tab-link-reveal::after{
  transition: width 0.3s ease;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  color:white;
  position: absolute;
  content: "";
}
.tab-link-reveal:hover::after{
  width: 100%;
}
.tab-link-reveal:hover{
  color: rgb(255, 255, 255);
}